.transfer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 252px;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &__li {
    display: flex;
    align-items: center;
    text-align: center;
    list-style-type: none;
    height: 40px;
    width: 192px;
    padding: 10px 20px;

  }

  &__li:hover {
    background: #F1FCFF

  }
  &__li input[type=radio] {
    display: none;
  }
  &__li label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
  }
  &__li label:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #9ABBCE;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &__li input[type=radio]:checked + label::before {
    border-color: #2196F3;
    background-image: url("./checked.svg");
  }

  &__header {
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #4A4A4A;
    margin: 20px 20px 7px 20px;
  }

  &__label {
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #4A4A4A;
  }

  &__radio {

  }

}

