@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$background: #E5E5E5;
.aviasales {
  background-color: $background;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 50px;
  align-items: center;

  @media (max-width: 768px) {
    top:10px;
  }
}

.content {
  display: flex;
  padding: 20px;
  flex-basis: 768px;
  margin-top: 160px;
  flex-direction: row;
  align-self: center;
  overflow: auto;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 60px;

  }
}

